@import './base.css';


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

button{
  cursor:pointer;
  background-color: rgba(0, 0, 0, 0.489);
  border: 0;
  max-width: 100%;
  color: rgb(7, 129, 51);
  font-size: 20px;
  padding: 20px;
}


header, #app{
  text-align: center;
  
}


table{
  margin: auto;
}

footer{
  display: flex;  
  justify-content: space-around;
  margin: 4rem;
}